/build/*
/doc/*
/bin/*
/target/*
/data/*
/license/*
/libs/*
/.gradle
/.classpath
/.project
/.settings/*


### Files ###
*.class
*.db
*.gz
*.log
*.lcc
*.bin
*.ucls
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
/target/
/bin/
*.RData
*.Rhistory
/build/
